/** External CSS Stylesheet **/

/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: url('../images/hypnotize.png');
}

header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    margin-left: 12px;
    background:#ffffff;
    color:#cccccc;
    border-style: solid;
    border:10px;
    border-color: #cccccc;
}

/*This specifically pertains to the h1 section within the header rather than just the header itself.*/
/*I.E. The background color and box around "Joseph Perkins"*/
header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 18%;
    color: #ffffff;
    padding-bottom:20px;
    padding-left:15px;
    padding-top:20px;
    padding-right:15px;
    background-color: #4aaaa5;
    display:inline;
    font-family: 'Georgia', Times, Times New Roman, serif;    
}

/* --- Navigation Section --- */
/* This is targeting the entire nav */
nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 17.50%;
    list-style: none;
    float:right;
    display:inline;
}

/* This is targeting specifc tabs in the navigation tab */
nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding:0 0.75rem;
}

nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* This is controlling the hover color when the mouse moves over the specifc tab */
nav > li > a:hover, nav > li > a:focus {
    text-decoration: none;
    background-color: #D3D3D3;
}

nav a:hover {
    background-color: #D3D3D3;
}

p {
	margin-right: 25px;
	text-align: justify;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.form_wrap {
    width: 960px;
    border: none;
    border-color: #dddddd;
    margin: 50px auto;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 3px;
/*  border: 5px solid #ccc;*/
/*  padding: 75px 200px;*/

}

.form_wrap h4 {
    margin: 5px 0 0 20px;
    font: 24px sans-serif;
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


/*The current ID styling (despite being far less detailed) than the class, appears to achive what I am wanting in less code.
I am keeping this old section of when the tag was a class, but it isn't relavent at the moment.*/

/*.about_me_section {
    width: 960px;
    border: none;
    border-color: #dddddd;
    margin: 50px auto;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 3px;
}*/


/*#about_me_section h4 {
    margin: 5px 0 0 20px;
    font: 24px sans-serif;
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}*/

#about_me_section {
    font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: 15px;
}

#about_me_img {
    float: left;
    width:200px;
    height:150px;
    margin: 15px;
}

#about_me_img, #portImg_1, #portImg_2, #portImg_3, #portImg_4, #portImg_5 {
    float: left;
    width:200px;
    height:150px;
    margin: 15px;
}

.img_group {
    float: left;
    width: 50%;
}

.img_text h5 {
    position: relative;
    font: 18px sans-serif;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 17px;
    padding-bottom: 15px;
    margin-left: -215px;
    margin-top: 100px;
    width: 163px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
}

/* Clear floats after the columns. 
Oddly enough, After using this, I didn't notice any changes, so I removed this part from the HTML, but commented it out here */
/*
.img_group:after {
    content: "";
    display: table;
    clear: both;
}*/

label {
    display:block;
    margin: 5px 0 5px 20px;
    font: 18px sans-serif;
    color: #777777;
}

input {
    width: 250px;
    margin: 0 0 0 20px;
}

textarea {
    width: 250px;
    margin: 20px 0 0 20px;
    overflow: hidden;
}

fieldset {
    border: none;
    border-color: #dddddd;
    width: 960px;
    padding: 25px;
    background-color: #f6f6f6;
    overflow: hidden;
}

.labelone {
    margin-top: 30px;
}

.btn {
    width: 125px;
    background-color: #4aaaa5;
}

/*The remaining lines from this point all refer to the footer stylings*/
footer {
    position: sticky;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    background-color: #666666;
    border-top:10px #4aaaa5;
    text-align: center;
    border-style: solid;
    border-color: #4aaaa5;
    padding:1rem 5rem;
    box-sizing: border-box;
}

/*This was added soley for the purpose of adding some scrolling padding for the sticky footer to work correctly*/
#paddingSection {
    padding-bottom:1000px;
}

/*This is specifically referring to the text in the footer, not the whole containing footer element itself*/
#footer_label {
    font-size: 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #D3D3D3;
}